//@import 'bootstrap/scss/bootstrap-reboot.scss';
@import "bootstrap/scss/functions";
@import "./partials/variables";

@import "bootstrap/scss/variables";

@import 'bootstrap/scss/mixins/_hover.scss';
@import 'bootstrap/scss/mixins/_lists.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';
@import 'bootstrap/scss/mixins/_grid.scss';
@import 'bootstrap/scss/mixins/_forms.scss';
@import 'bootstrap/scss/mixins/_buttons.scss';

@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/type';






/* natural box model */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}





/* Browser Upgrade Prompt */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}





/* hides an element, but not from screen readers */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}





/* no break */

.nobr {
  white-space: nowrap;
}





/*
    STRUCTURE
*/


/*
    TYPOGRAPHY
*/


/*
    IMAGES
*/

img {
  width: 100%;
  display: block;
}





/* clearfix - in case you decide to float elements */

.group::after {
  content: "";
  display: table;
  clear: both;
}





/*
JG Namespace
 */


/*
    STRUCTURE
*/


/*
    TYPOGRAPHY
*/


/*
    IMAGES
*/


/*
GLOBAL STRUCTURE
 */

$nvc-color-primary: #006ec1;



$ncv-grid-breakpoints: ( xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px) !default;

@include _assert-ascending($ncv-grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($ncv-grid-breakpoints);

$ncv-container-max-widths: ( sm: 540px,
md: 720px,
lg: 960px,
xl: 960px) !default;

@include _assert-ascending($ncv-container-max-widths, "$ncv-container-max-widths");

$sm-bpt: map-get($ncv-grid-breakpoints, 'sm');
$sm-bpt-next: breakpoint-next('sm', $ncv-grid-breakpoints);
$sm-bpt-infix: breakpoint-infix('sm', $ncv-grid-breakpoints);

.ncv-html,
.ncv-body {
  height: 100%;
  margin: 0;
}

.ncv-body {
  display: flex;
  flex-direction: column;
}

.ncv-container-fluid {
  @include make-container()
}

.ncv-container {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.ncv-app {
  //@include make-container();
  //border: 1pt solid #DDD;
  flex: 1 0 auto;
}

.ncv-app-top {
  min-height: 20px;
  background: $nvc-color-primary;
}

.ncv-app-header {
  background: #fff;
}

.ncv-header-content {
  overflow-y: scroll; //border: 1pt solid #DDD;
}

.ncv-navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: $navbar-padding-y $navbar-padding-x; // Because flex properties aren't inherited, we need to redeclare these first
  // few properities so that content nested within behave properly.
  >.container,
  >.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .ncv-navbar-nav {
    flex-direction: row;

    .dropdown-menu {
      position: absolute;
    }

    .ncv-nav-link {
      font-size: 0.8em;
      padding-right: $navbar-nav-link-padding-x;
      padding-left: $navbar-nav-link-padding-x;
    }
  }

  @include media-breakpoint-up('md', $ncv-grid-breakpoints) {
    flex-direction: row;
  }

  /*@include media-breakpoint-only('sm', $ncv-grid-breakpoints) {
    flex-direction: column;
  }*/
  /*@include media-breakpoint-up('sm') {
    flex-direction: row;
  }*/
}

.ncv-navbar-brand {
  margin-right: auto;
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}

.ncv-navbar-nav {

  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .ncv-nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .ncv-dropdown-menu {
    position: static;
    float: none;
  }
}

.ncv-navbar-colors {
  .nvc-navbar-brand {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .nvc-navbar-nav {
    .nvc-nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show>.nvc-nav-link,
    .active>.nvc-nav-link,
    .nvc-nav-link.show,
    .nvc-nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .nvc-navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .nvc-navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .nvc-navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}

.ncv-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.ncv-nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  } // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
  }
}

.ncv-logo-100 {
  display: inline-block;
  position: relative;
  width: 100px;
  vertical-align: top;
  overflow: hidden;

  >a.ncv-logo-link {
    padding-bottom: 40%
  }
}

.ncv-app-section {
  @include make-container()
}

.ncv-section-content {
  @include make-container();
  @include make-container-max-widths($ncv-container-max-widths); //border: 1pt solid #DDD;
}

.ncv-app-footer {
  background: #fff;
  margin-top: 50px;
  padding: $navbar-padding-y 0;
  border-top: 1pt solid #DDD;
  flex-shrink: 0;
}

.ncv-footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
}

.ncv-footer-block {
  padding: $navbar-padding-y $navbar-padding-x;
}

.ncv-footer-company {
  display: flex;
  flex-direction: column;
}

.ncv-footer-contact {
  display: flex;
  flex-direction: column;
  &-detail {
    display: block
  }
}

.ncv-footer-map-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  padding-bottom: $navbar-padding-y;
  margin-bottom: 0;
  list-style: none;
  .ncv-map-link {
    padding: 0;
  }
}









/*
    LINKS


*/


/*
    TABLES
*/


/*
    HOME
*/

.ncv-home-section {
  &--carousel {
    padding: 0 !important;
  }
}

.ncv-home-carousel {

  /*display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  padding-bottom: 10%;*/
  .ncv-home-carousel-content {

    /*display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;*/
  }
}


.ncv-home-carousel-item {
  position: relative;

  .ncv-carousel-item-image {

    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    padding-bottom: 60%;
    background-size: cover;
    background-position: center; //min-height: 200px;
    @include media-breakpoint-up('sm', $ncv-grid-breakpoints) {
      padding-bottom: 41%;
    }

    @include media-breakpoint-up('md', $ncv-grid-breakpoints) {
      padding-bottom: 41%;
    }

    @include media-breakpoint-up('lg', $ncv-grid-breakpoints) {
      padding-bottom: 29%;
    }
  }

  .ncv-carousel-item-image {

    //min-height: 300px;
  }
  .ncv-carousel-item-text {
    position: absolute;
    max-width: 50%;
    color: #fff;
    .ncv-carousel-item-text-primary {
      display: block;
      font-size: $h1-font-size;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
      line-height: $h1-font-size;
    }
    .ncv-carousel-item-text-secodary {
      display: block;
      font-size: 1rem;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
    }
  }
}

.ncv-carousel-item-image--0 {

  background: url("../images/adult-body-close-up-512-280-92.jpg");

  @include media-breakpoint-up('sm',
  $ncv-grid-breakpoints) {
    background: url("../images/adult-body-close-up-800-400-92.jpg");
  }

  @include media-breakpoint-up('md',
  $ncv-grid-breakpoints) {
    background: url("../images/adult-body-close-up-1024-476-92.jpg");
  }

  @include media-breakpoint-up('lg',
  $ncv-grid-breakpoints) {
    background: url("../images/adult-body-close-up-1366-573-92.jpg");
  }
}

.ncv-carousel-item-image--1 {

  background: url("../images/appointment-appointment-book-512-280-92.jpg");

  @include media-breakpoint-up('sm',
  $ncv-grid-breakpoints) {
    background: url("../images/appointment-appointment-book-800-400-92.jpg");
  }

  @include media-breakpoint-up('md',
  $ncv-grid-breakpoints) {
    background: url("../images/appointment-appointment-book-1024-476-92.jpg");
  }

  @include media-breakpoint-up('lg',
  $ncv-grid-breakpoints) {
    background: url("../images/appointment-appointment-book-1366-573-92.jpg");
  }
}

.ncv-carousel-item-image--2 {

  background: url("../images/biology-clinic-doctor-512-280-92.jpg");

  @include media-breakpoint-up('sm',
  $ncv-grid-breakpoints) {
    background: url("../images/biology-clinic-doctor-800-400-92.jpg");
  }

  @include media-breakpoint-up('md',
  $ncv-grid-breakpoints) {
    background: url("../images/biology-clinic-doctor-1024-476-92.jpg");
  }

  @include media-breakpoint-up('lg',
  $ncv-grid-breakpoints) {
    background: url("../images/biology-clinic-doctor-1366-573-92.jpg");
  }
}

.ncv-carousel-item-image--3 {

  background: url("../images/care-clinic-disease-512-280-92.jpg");

  @include media-breakpoint-up('sm',
  $ncv-grid-breakpoints) {
    background: url("../images/care-clinic-disease-800-400-92.jpg");
  }

  @include media-breakpoint-up('md',
  $ncv-grid-breakpoints) {
    background: url("../images/care-clinic-disease-1024-476-92.jpg");
  }

  @include media-breakpoint-up('lg',
  $ncv-grid-breakpoints) {
    background: url("../images/care-clinic-disease-1366-573-92.jpg");
  }
}




.ncv-carousel-item-text--0 {
  bottom: 30px;
}

.ncv-carousel-item-text--1 {
  bottom: 30px;
  color: #333 !important;
}

.ncv-carousel-item-text--2 {
  bottom: 30px;
  color: #333 !important; //color: #333 !important;
}

.ncv-carousel-item-text--3 {
  bottom: 30px;
}


$gutter: 1em;

.ncv-home-services {

  width: 100%; //display: flex;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  justify-content: space-between;

  //margin-left: -$gutter;

  padding-top: 50px;
  //border: 1pt solid red; //align-content: center;
}

.ncv-home-service {

  .ncv-home-service-content {
    position: relative;
    padding: 10px;
  }

  .h1 {
    font-size: $h3-font-size
  }

  .ncv-home-service-text {
    //border: 1pt solid $nvc-color-primary;
  }

  .ncv-home-service-icon {
    position: relative;
    top: -3em;
    margin-bottom: -3em;
    left: 50%;
    transform: translate(-2.5em);
    //top: -2em;
    width: 5em;
    height: 5em;
    border-radius: 2em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1pt solid transparent;
    background: #fff;
    //border: 1pt solid $nvc-color-primary;
  } //flex: 0 0 100%;

  border: 1pt solid #DDD;
  box-shadow: 3px 3px 3px #DDD;

  flex: 0 0 100%;
  flex-direction: column;
  margin: $gutter * 2 0;

  @include media-breakpoint-up('sm',
  $ncv-grid-breakpoints) {
    //border: 1pt solid yellow;
    flex: 0 0 48%;
  }

  @include media-breakpoint-up('md',
  $ncv-grid-breakpoints) {
    //border: 1pt solid green;
    flex: 0 0 32%;
  }

  @include media-breakpoint-up('lg',
  $ncv-grid-breakpoints) {
    //border: 1pt solid red;
  }
}


/*
    ANOTHER PAGE
*/
